<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>StudentFeedbackSystem</display-name>
  <servlet>
    <description>
		</description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>StudentLogin</display-name>
    <servlet-name>StudentLogin</servlet-name>
    <servlet-class>StudentLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLogin</servlet-name>
    <url-pattern>/StudentLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>Studentdb</display-name>
    <servlet-name>Studentdb</servlet-name>
    <servlet-class>Studentdb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Studentdb</servlet-name>
    <url-pattern>/Studentdb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>Teacherdb</display-name>
    <servlet-name>Teacherdb</servlet-name>
    <servlet-class>Teacherdb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teacherdb</servlet-name>
    <url-pattern>/Teacherdb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>StudentFeedback</display-name>
    <servlet-name>StudentFeedback</servlet-name>
    <servlet-class>StudentFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentFeedback</servlet-name>
    <url-pattern>/StudentFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>MakeResult</display-name>
    <servlet-name>MakeResult</servlet-name>
    <servlet-class>MakeResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeResult</servlet-name>
    <url-pattern>/MakeResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>PassChange</display-name>
    <servlet-name>PassChange</servlet-name>
    <servlet-class>PassChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassChange</servlet-name>
    <url-pattern>/PassChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>DeleteStudent</display-name>
    <servlet-name>DeleteStudent</servlet-name>
    <servlet-class>DeleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudent</servlet-name>
    <url-pattern>/DeleteStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
		</description>
    <display-name>DeleteTeacher</display-name>
    <servlet-name>DeleteTeacher</servlet-name>
    <servlet-class>DeleteTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTeacher</servlet-name>
    <url-pattern>/DeleteTeacher</url-pattern>
  </servlet-mapping>
   <servlet>
    <description>
		</description>
    <display-name>GetTeacherNames</display-name>
    <servlet-name>GetTeacherNames</servlet-name>
    <servlet-class>GetTeacherNames</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTeacherNames</servlet-name>
    <url-pattern>/GetTeacherNames</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/errorpage.html</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.ArithmeticException</exception-type>
    <location>/errorpage.html</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.SQLException</exception-type>
    <location>/errorpage.html</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.ClassNotFoundException</exception-type>
    <location>/errorpage.html</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>